<a href="https://colab.research.google.com/github/pranav98711/Google-Colaboratory/blob/master/DeepLearning/DataPreprocessing/Read_hdf5_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reading HDF5 file

In [0]:
import numpy as np
import h5py

## The code below will list datasets in hdf5 file
Take a look at the hdf5 file struture.

More at ---- https://support.hdfgroup.org/HDF5/Tutor/HDF5Intro.pdf

In [0]:
with h5py.File('/content/test_catvnoncat.h5' , 'r') as hdf:
               ls=list(hdf.keys())
               print('List of datasets in this file \n' , ls)

List of datasets in this file
 ['list_classes', 'test_set_x', 'test_set_y']

In [0]:
with h5py.File('/content/test_catvnoncat.h5' , 'r') as hdf:
               ls=list(hdf.keys())
               print('List of datasets in this file \n' , ls)
               data=hdf.get('test_set_x')
               dataaset1=np.array(data)
               print(dataaset1.shape)

List of datasets in this file
 ['list_classes', 'test_set_x', 'test_set_y']
(50, 64, 64, 3)

In [0]:
with h5py.File('/content/test_catvnoncat.h5' , 'r') as hdf:
               ls=list(hdf.keys())
               print('List of datasets in this file \n' , ls)
               data=hdf.get('test_set_y')
               dataaset1=np.array(data)
               print(dataaset1.shape)

List of datasets in this file
 ['list_classes', 'test_set_x', 'test_set_y']
(50,)

(50,) means One Element Tuple

The essential element here is the trailing comma. As for any expression, parentheses are optional, so you may also write one-element tuples like but it is the comma, not the parentheses, that define the tuple.

Documentation -- https://wiki.python.org/moin/TupleSyntax

Sometimes that extra 1 dimension matters. A (1,m) array can multiply a (n,1) array to produce a (n,m) array.

In [0]:
with h5py.File('/content/test_catvnoncat.h5' , 'r') as hdf:
               ls=list(hdf.keys())
               print('List of datasets in this file \n' , ls)
               data=hdf.get('list_classes')
               dataaset1=np.array(data)
               print(dataaset1.shape)
               print(dataaset1)

List of datasets in this file
 ['list_classes', 'test_set_x', 'test_set_y']
(2,)
[b'non-cat' b'cat']